footer.site-footer
    .footer-head
        .logo  
            include logo
        .homepage-link
            a(href='#') Go to Home Page »
    .footer-row
        .footer-column
            h2 News
            a(href='#') Home Page
            a(href='#') World
            a(href='#') U.S.
            a(href='#') Politics
            a(href='#') New York
            a(href='#') Business
            a(href='#') Tech
            a(href='#') Science
            a(href='#') Sports
            a(href='#') Obituaries
            a(href='#') Today's Paper
            a(href='#') Collections
        .footer-column
            h2 Opinion
        .footer-column
            h2 Arts
        .footer-column
            h2 Living
        .footer-column
            h2 More
        .footer-column
            h2 Subscribe
            a.highlights(href='#') Home Delivery
            a.highlights(href='#') Digital Subscriptions
            a.highlights(href='#') Crossword
            a.highlights(href='#') Cooking
            
            a.details(href='#') Email Newsletters
            a.details(href='#') Corporate Subscriptions
            a.details(href='#') Education Rate
            hr
            a.details(href='#') Mobile Applications
            a.details(href='#') Replica Edition
