footer.site-footer
    .links-area
        .footer-head
            .logo  
                include logo
            .homepage-link
                a(href='#') Go to Home Page »
        .footer-row
            .footer-column
                h2 News
                a(href='#') Home Page
                a(href='#') World
                a(href='#') U.S.
                a(href='#') Politics
                a(href='#') New York
                a(href='#') Business
                a(href='#') Tech
                a(href='#') Science
                a(href='#') Sports
                a(href='#') Obituaries
                a(href='#') Today's Paper
                a(href='#') Collections
            .footer-column
                h2 Opinion
                a(href='#') Today's Opinion
                a(href='#') Op-Ed Columnists
                a(href='#') Editorials
                a(href='#') Op-Ed Contributors
                a(href='#') Letters
                a(href='#') Sunday Review
                a(href='#') Video: Opinion
            .footer-column
                h2 Arts
                a(href='#') Today's Arts
                a(href='#') Art & Design
                a(href='#') Books
                a(href='#') Dance
                a(href='#') Movies
                a(href='#') Music
                a(href='#') Pop Culture
                a(href='#') Television
                a(href='#') Theater
                a(href='#') Video: Arts
            .footer-column
                h2 Living
                a(href='#') Automobiles
                a(href='#') Crossword
                a(href='#') Food
                a(href='#') Education
                a(href='#') Style
                a(href='#') Health
                a(href='#') Jobs
                a(href='#') Magazine
                a(href='#') Real Estate
                a(href='#') T Magazine
                a(href='#') Travel
                a(href='#') Weddings
            .footer-column
                h2 More
                a(href='#') Reader Center
                a(href='#') Wirecutter
                a(href='#') Live Events
                a(href='#') The Learning Network
                a(href='#') Tools & Services
                a(href='#') N.Y.C. Events Guide
                a(href='#') Multimedia
                a(href='#') Photography
                a(href='#') Video
                a(href='#') Newsletters
                a(href='#') NYT Store
                a(href='#') Times Journeys
                a(href='#') Manage My Account
            .footer-column.highlights-column
                h2 Subscribe
                a.highlights(href='#') Home Delivery
                a.highlights(href='#') Digital Subscriptions
                a.highlights(href='#') Crossword
                a.highlights(href='#') Cooking
                
                a.details(href='#') Email Newsletters
                a.details(href='#') Corporate Subscriptions
                a.details(href='#') Education Rate
                hr
                a.details(href='#') Mobile Applications
                a.details(href='#') Replica Edition
    .copyright-area
        a(href='#') © 2019 The New York Times Company
        a(href='#') Contact Us
        a(href='#') Work with us
        a(href='#') Advertise
        a(href='#') Your Ad Choices
        a(href='#') Privacy
        a(href='#') Terms of Service
        a(href='#') Terms of Sale
        a(href='#') Site Map
        a(href='#') Help
        a(href='#') Subscriptions
