header.site-header
    .site-header_wrapper
        .menu
            a.header-link Space & Cosmos
        .logo
            include logo
        .buttons
            button.main-menu-btn Subscribe now
            button.main-menu-btn Log In
            
        
        
        
            
