mixin icons_block(width)
    button.icon-facebook.glyph
    button.icon-twitter.glyph
    button.icon-envelope.glyph
    button.icon-share.glyph
    if(width == 'wide')
        button.icon-bookmark.glyph.light
        button.icon-chat_bubble_outline.glyph.light