include modules/mixins
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href='./css/style.css', type='text/css')
    title Space Ripples Reveal Big Bang’s Smoking Gun - The New York Times
  body
  
    // header
    include modules/header
    .container
        // content
        include modules/content
        // suggestions section
        include modules/suggestions
    // footer
    include modules/footer
    script(src='./js/app.js')
