include modules/mixins
doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css', type='text/css')
    title Space Ripples Reveal Big Bang’s Smoking Gun - The New York Times
    meta(name='viewport', conent='width=device-width, initial-scale=1')
  body
  
    // header
    include modules/header
    .container
        // content
        include modules/content
        // suggestions section
        include modules/suggestions
    // footer
    include modules/footer
    script(src='/js/app.js')