
doctype html
html
  head
    link(rel='stylesheet', href='../css/style.css', type='text/css')
    title Space Ripples Reveal Big Bang’s Smoking Gun - The New York Times
  body
    //- header
    include modules/header
    .container
        include modules/content
        include modules/suggestions
        
    include modules/footer
    script(src='../js/app.js')