@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700,700i');

//font-family: 'Open Sans', sans-serif;
//font-family: 'PT Serif', serif;


@font-face {
  font-family: 'icomoon';
  src:  url('../media/fonts/icomoon.eot?rci44r');
  src:  url('../media/fonts/icomoon.eot?rci44r#iefix') format('embedded-opentype'),
    url('../media/fonts/icomoon.ttf?rci44r') format('truetype'),
    url('../media/fonts/icomoon.woff?rci44r') format('woff'),
    url('../media/fonts/icomoon.svg?rci44r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "\e900";
}
.icon-bubbles:before {
  content: "\e900";
}
.icon-talk:before {
  content: "\e900";
}
.icon-message:before {
  content: "\e900";
}
.icon-conversation:before {
  content: "\e900";
}
.icon-bubble:before {
  content: "\e901";
}
.icon-comment:before {
  content: "\e901";
}
.icon-chat1:before {
  content: "\e901";
}
.icon-talk1:before {
  content: "\e901";
}
.icon-bookmark:before {
  content: "\e902";
}
.icon-search1:before {
  content: "\e903";
}
.icon-mail-forward:before {
  content: "\e904";
}
.icon-share:before {
  content: "\e904";
}
.icon-chat_bubble_outline:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-envelope:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
