* {box-sizing: border-box;}

// HEADER LAYOUT
html, body {
    height: 100%;
    margin: 0;
}
body {
    margin-top: $header-height;
}
.buttons, .menu {
    width: 370px;
}
.buttons {
    //width: 200px;
    display: flex;
    justify-content: flex-end;
}
.site-header {
    height: $header-height;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid lightgray;
    background-color: #FFFFFF;
    z-index: 99;
}
.site-header_wrapper{
    width: 87%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.logo {
    width: 195px;
    padding-top: 5px;
}
.menu {
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.menu .glyph {
    font-size: 1em;
    display: inline-block;
    padding: 10px;
    margin-right: 8px;
    border-radius: 4px;
    &:hover {
        background-color: $icons-head-bg;
    }
    &.active {
        background-color: $icons-head-bg;
    }
    // &:last-of-type {
    //     margin-right: 0;
    // }
}
.top-page-content a.header-link {
    position: relative;
    top: -2px;
}

.top-page-content, .scroll-content {
    transition-duration: 0.5;
}
.scroll-content {
    display: none;
}
.scroll-content .menu {
    width: 400px;
}
.scroll-content .logo svg {
    width: 170px;
}

span.header-caption {
    font-family: 'PT Serif', serif;
    color: $content-font-color;
    font-size: 0.8em;
    padding-left: 4px;
    margin-left: 6px;
    border-left: 1px solid $icons-border;
}
.scroll-content a.header-link {
    font-size: 0.8em;
}
// search form
// .top-page-content a.header-link {
//     display: none;
// }

.menu {
    display: flex;
    align-items: center;
}
.header__search-form {
    //display: flex;
    display: none;
    // max-width: 210px;
    width: 100%;
    margin-left: 0;
    input {
        padding: 10px 20px;
        margin: 0;
        border: 0;
        min-width: 210px;
        border: 1px solid $search-form-border;
        border-radius: 2px;
        margin-right: 4px;
    }
    input[placeholder] {
        text-transform: uppercase;
        font-size: 0.69em;
    }
    button {
        background-color: $search-form__button;
        border: 1px solid $search-form__button--hover;
        
        &:hover {
            background-color: $search-form__button--hover;
        }
    }
}



// FOOTER LAYOUT
.container {
    padding: 20px;
    min-height: 100%;
    margin-top: $header-height;
    margin-bottom: -$footer-height;
}
.push, .site-footer {
    height: $footer-height;
}
.site-footer {
    border-top: 2px solid $footer-borders;
    padding-top: 10px;
    &::before {
        content: "";
        display: block;
        border-top: 1px solid $footer-borders;
        position: relative;
        top: -9px;
    }
}


.footer-head, .footer-row {
    display: flex;
    justify-content: space-between;
}
.footer-row {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $footer-borders;
}

.footer-column {
    flex-grow: 2;
}
.highlights-column {
    border-left: 1px solid $footer-borders;
    padding-left: 20px;
    flex-grow: 1;
    & hr {
        background-color: $footer-borders;
        border: 0;
        height: 1px;
    }
}
.copyright-area {
    text-align: center;
    margin-bottom: 60px;
    padding-top: 12px;
    letter-spacing: -0.5px;
    a {
        color: #999999;
        font-size: 0.7em;
        text-decoration: none;
        padding-right: 20px;
        &:hover {
            text-decoration: underline;
        }
    }
}
