$border-color: gray;
$background-color: #fff;
$box-shadow: #000;
$top-offset: 16px;
$padding: 10px;

.parent {
    position: relative;
}

.tooltip {
    background-color: $background-color;
    border: 1px solid $border-color;
    width: 400px;
    margin-left: 32px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 0px 8px -1px $box-shadow;
    -moz-box-shadow: 0px 0px 8px -1px $box-shadow;
    -webkit-box-shadow: 0px 0px 8px -1px $box-shadow;
    padding: $padding;
}

.tail-shadow {
    background-color: transparent;
    width: 7px;
    height: 4px;

    position: absolute;
    top: $top-offset;
    left: -4px;
    z-index: -10;
    box-shadow: 0px 0px 8px 1px $box-shadow;
    -moz-box-shadow: 0px 0px 8px 1px $box-shadow;
    -webkit-box-shadow: 0px 0px 8px 1px $box-shadow;
}
.tail-upper-part {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent $border-color transparent transparent;
    position: absolute;
    top: ( $top-offset / 2 );
    left: -20px;
}
.tail-upper-part {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent $background-color transparent transparent;
    position: absolute;
    top: ( $top-offset / 2 );
    left: -18px;
}
