$header-height: 40px;
$footer-height: 440px;
$footer-borders: #EBEBEB;
$content-font-color: #333333;
$caption-font-color: #666666;
$credit-font-color: #888888;
$author-underline-font-color: #CCCCCC;
$most-popular-links-border: #E2E2E2;
