$header-height: 46px;
$footer-height: 440px;
$footer-borders: #EBEBEB;
$content-font-color: #333333;
$caption-font-color: #666666;
$credit-font-color: #888888;
$author-underline-font-color: #CCCCCC;
$most-popular-links-border: #E2E2E2;
$icons-head-bg: #F7F7F7;
$icons-bg: #EEEEEE;
$icons-border: #CDCDCD;
$light-icon: #CCCCCC;
$light-icon-hover: #C2C2C2;
$menu-border: #CECECE;
$menu-shadow: rgba(206,206,206,0.47);
$nav-highlight: #F0F8FC;
$submenu-indicator: #C1C1C1;
$nav-heading: #999999;
