@import 'reset';
@import 'variables';
@import 'fonts';
@import 'layout';
@import 'nav';
@import 'content';
@import 'suggestions';
@import 'adaptive';
@import 'tooltip';
img {
    width: 100%;
    height: auto;
}

// LINKS
a {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.5px;
    &:hover {
        cursor: pointer;
    }
}

a.header-link {
    font-size: 0.85em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}
.homepage-link a {
    font-size: 0.7em;
    text-decoration: none;
    color: #6CA6B9;
    position: relative;
    top: 12px;
}

.footer-column a {
    display: block;
    color: #000000;
    text-decoration: none;
    font-size: 0.8em;
    line-height: 1.8em;
    &:hover {
        text-decoration: underline;
    }
}
a.highlights {
    font-weight: bold;
    font-size: 0.94em;
}
a.details {
    font-size: 0.7em;
    line-height: 2em;
}
.article a {
    font-family: 'PT Serif', serif;
    color: #326891;
    &:hover {
        text-decoration: none;
    }
}
.article-preview a {
        font-size: 1.1em;
        color: #000000;
        line-height: 1.2em;
        font-family: 'PT Serif', serif;
        text-decoration: none;
        &:hover {
            color: $caption-font-color;
        }
        h3 {
            padding: 8px 0;
        }
}
.content-caption a {
    font-family: 'PT Serif', serif;
}
.credit a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.most-popular a {
    display: block;
    padding: 17px 0;
    font-family: 'PT Serif', serif;
    color: #000000;
    font-size: 1.15em;
    line-height: 1.15em;
    text-decoration: none;
    border-top: 1px solid $most-popular-links-border;
    &:hover {
        color: $caption-font-color;
    }
}

// BUTTONS
button {
    padding: 8px 8px;

    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    letter-spacing: -0.01em;
    font-weight: bold;
    color: $base-button-font-color;
    text-transform: uppercase;
    background-color: $base-button;
    border: 1px solid $base-button-border;
    border-radius: 4px;
    transition-duration: 0.4s;
    &:hover {
        background-color: $base-button--hover;
        cursor: pointer;
    }
}
button[class|=icon] {
    border: 0;
    color: #000000;
    background: none;
}
.article-footer button {
    padding: 8px 90px;
    font-size: 0.8em;
    max-width: 60%;
}
.main-menu-btn {
    margin-left: 8px;
}

//button on the expanded image block
.image-content button.icon-enlarge2 {
    outline: none;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 105;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 50%;
}

.container > .widest-content-piece .image-content button.icon-enlarge2,
.container > .wide-content-piece .image-content button.icon-enlarge2  {
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: auto;
    left: auto;
    padding: 20px;
    &:hover {
        padding: 19px;
        background-color: $enlarge-button--hover;
        border: 1px solid $enlarge-button-border--hover;
    right: 19px;
    }
}
.image-content button.icon-enlarge2 {
    opacity: 0;
    transition-duration: 0.5s;
}

// HEADINGS
.footer-column h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 1.8em;
}
.article-head, .article-footer, .social-media {
    .glyph {
        transition-duration: 0s;
        background: $icons-bg;
        border-radius: 50%;
        padding: 6px;
        font-size: 14px;
        margin-left: 14px;
        &:hover {
            background: none;
            padding: 5px;
            border: 1px solid $icons-border;
        }
    }
    .light {
        height: 100%;
        padding: 0;
        vertical-align: middle;
        color: $light-icon;
        background: none;
        color: black;
        font-size: 2.2em;
        margin-left: 14px;
        &:hover {
            border: none;
            padding: 0;
            color: $light-icon-hover;
        }
    }
}
